<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>504 Power</title>
	<link href="https://cdn.jsdelivr.net/npm/pagedone@1.2.2/src/css/pagedone.css " rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdn.tailwindcss.com"></script>
	<link href="./assets/css/style.css" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet" />
</head>

<body>
	<section class=" container relative">
		<!-- Nav -->
		<div class="sticky top-0 w-full h-[25px] topLine p-1 z-[9999]">
			<div class="container w-full flex flex-row gap-3 text-black text-xs">
				<div class="flex flex-row gap-2">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
						stroke="currentColor" class="size-4 font-bold">
						<path stroke-linecap="round" stroke-linejoin="round"
							d="M9 6.75V15m6-6v8.25m.503 3.498 4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 0 0-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0Z" />
					</svg>
					<span class="font-bold">242/1 Điện Biên Phủ, Q. Thanh Khê, TP. Đà Nẵng</span>
				</div>
			</div>
		</div>

		<nav class="sticky top-0 w-full px-8 topNav shadow-lg z-[9999]">
			<div class="container mx-auto ">
				<div class="w-full flex flex-col lg:flex-row">
					<div class=" flex justify-between  lg:flex-row">
						<div class="logo">
							<a href="index.html" class="flex items-center">
								<img src="./assets/images/logo.png" alt="" width="60" height="80">
							</a>
						</div>
						<button data-collapse-toggle="navbar-default-sticky" type="button"
							class="inline-flex items-center p-2 ml-3 text-sm lg:hidden md:hidden"
							aria-controls="navbar-default-sticky" aria-expanded="false">
							<span class="sr-only">Open main menu</span>
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
								stroke="currentColor" class="size-6 text-white">
								<path stroke-linecap="round" stroke-linejoin="round"
									d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
							</svg>

						</button>
					</div>
					<div class="hidden w-full lg:flex lg:pl-11 " id="navbar-default-sticky">
						<ul class="lg:flex items-center flex-col mt-4 lg:mt-0 lg:flex-row">
							<li class="block lg:hidden md:hidden mr-[20px] lg:mb-[0px] md:mb-[0px] mb-[20px]">
								<a href="javascript:;"
									class="flex items-center text-white justify-between text-sm text-center lg:text-base font-medium mb-2 lg:mr-6 lg:mb-0 mr-auto lg:text-left m-auto lg:m-0">
									<span class="text-sm hover:text-yellow-300">GIỚI THIỆU</span>
								</a>
							</li>
							<li class="mr-[20px] lg:mb-[0px] md:mb-[0px] mb-[20px]">
								<a href="javascript:;" id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar"
									class="flex items-center text-white justify-between text-sm text-center lg:text-base font-medium   mb-2 lg:mr-6 lg:mb-0 mr-auto lg:text-left m-auto lg:m-0">
									<span class="text-sm hover:text-yellow-300 flex flex-row gap-1 items-center">
										<span>SẢN PHẨM</span>
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
											stroke-width="1.5" stroke="currentColor" class="size-5">
											<path stroke-linecap="round" stroke-linejoin="round"
												d="m19.5 8.25-7.5 7.5-7.5-7.5" />
										</svg>

									</span>
								</a>
								<!-- Dropdown menu -->
								<div id="dropdownNavbar"
									class="z-1000 hidden font-normal bg-white divide-y divide-gray-100 shadow w-44 dark:bg-gray-700 dark:divide-gray-600 w-[450px]">
									<ul class="py-2 text-sm text-black dark:text-gray-400"
										aria-labelledby="dropdownLargeButton">
										<li>
											<a href="#"
												class="block px-4 py-2 hover:bg-yellow-500 hover:text-black uppercase">
												Vật Tư, Thiết Bị Điện 0,4kV-110kV
											</a>
										</li>
										<li>
											<a href="#"
												class="block px-4 py-2 hover:bg-yellow-500 hover:text-black uppercase">Trụ
												Bê Tông Ly Tâm
											</a>
										</li>
										<li>
											<a href="#"
												class="block px-4 py-2 hover:bg-yellow-500 hover:text-black uppercase">Tấm
												Pin Năng Lượng Mặt Trời Và Vật Tư, Phụ Kiện
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="mr-[20px] lg:mb-[0px] md:mb-[0px] mb-[20px]">
								<a href="javascript:;"
									class="flex items-center text-white justify-between text-sm text-center lg:text-base font-medium  mb-2 lg:mr-6 lg:mb-0 mr-auto lg:text-left m-auto lg:m-0">
									<span class="text-sm hover:text-yellow-300">TƯ VẤN THIẾT KẾ</span>
								</a>
							</li>
							<li class="mr-[20px] lg:mb-[0px] md:mb-[0px] mb-[20px]">
								<a href="javascript:;"
									class="flex items-center text-white justify-between text-sm text-center lg:text-base font-medium  mb-2 lg:mr-6 lg:mb-0 mr-auto lg:text-left m-auto lg:m-0">
									<span class="text-sm hover:text-yellow-300">XÂY DỰNG ĐIỆN</span>
								</a>
							</li>
							<li class="mr-[20px] lg:mb-[0px] md:mb-[0px] mb-[20px]">
								<a href="javascript:;"
									class="flex items-center text-white justify-between text-sm text-center lg:text-base font-medium  mb-2 lg:mr-6 lg:mb-0 mr-auto lg:text-left m-auto lg:m-0">
									<span class="text-sm hover:text-yellow-300">SẢN XUẤT BTLT</span>
								</a>
							</li>
							<li class="mr-[20px] lg:mb-[0px] md:mb-[0px] mb-[20px]">
								<a href="javascript:;"
									class="flex items-center text-white justify-between text-sm text-center lg:text-base font-medium  mb-2 lg:mr-6 lg:mb-0 mr-auto lg:text-left m-auto lg:m-0">
									<span class="text-sm hover:text-yellow-300">KINH DOANH VẬT TƯ ĐIỆN</span>
								</a>
							</li>
							<li class="mr-[20px] lg:mb-[0px] md:mb-[0px] mb-[20px]">
								<a href="javascript:;"
									class="flex items-center text-white justify-between text-sm text-center lg:text-base font-medium  mb-2 lg:mr-6 lg:mb-0 mr-auto lg:text-left m-auto lg:m-0">
									<span class="text-sm hover:text-yellow-300">PHÁP LÝ DANH NGHIỆP</span>
								</a>
							</li>
							<li class="mr-[20px] lg:mb-[0px] md:mb-[0px] mb-[20px]">
								<a href="javascript:;"
									class="flex items-center text-white justify-between text-sm text-center lg:text-base font-medium  mb-2 lg:mr-6 lg:mb-0 mr-auto lg:text-left m-auto lg:m-0">
									<span class="text-sm hover:text-yellow-300">THƯ VIỆN LUẬT</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>

		<div class=" container h-[300px] lg:h-[300px] md:h-[300px] flex flex-col p-4 section-about" style="
			background: url('https://images.pexels.com/photos/257736/pexels-photo-257736.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			background-attachment: fixed;
			background-blend-mode: overlay;
		">
			<div class="w-full h-full content-center text-center">
				<span class="font-bold text-5xl text-yellow-500 underline text-center uppercase">SẢN PHẨM</span>
			</div>
		</div>

		<div class="w-full flex lg:flex-row md:flex-row flex-col gap-3 mt-[50px] mb-[100px]">
			<div class="w-full md:w-1/3 lg:w-1/3">
				<div class="w-full flex flex-col gap-3">
					<span class="font-bold text-3xl text-black text-left uppercase">CÁC DÒNG SẢN PHẨM</span>
					<hr>
					<div class="flex flex-col gap-2 shadow hover:shadow-lg p-1">
						<span class="font-bold hover:bg-yellow-400 text-gray-700 cursor-pointer text-base p-2 border-b uppercase">Vật Tư, Thiết Bị Điện
							0,4kV-110kV</span>
						<span class="font-bold hover:bg-yellow-400 text-gray-700 cursor-pointer text-base p-2 border-b uppercase">Trụ Bê Tông Ly Tâm</span>
						<span class="font-bold hover:bg-yellow-400 text-gray-700 cursor-pointer text-base p-2 border-b uppercase">Tấm Pin Năng Lượng Mặt Trời
							Và Vật Tư, Phụ Kiện</span>
					</div>
				</div>
			</div>
			<!-- overflow-y-auto h-[900px] -->
			<div class="w-full md:w-2/3 lg:w-2/3">
				<div class="w-full mb-[20px] flex">
					<input type="text" placeholder="Nhập từ khóa tìm kiếm sản phẩm"
						class="p-2 w-[270px] rounded-s-full">
					<button type="submit" dir="rtl" class="p-2 w-[50px] bg-yellow-500 rounded-s-full pt-[4px]">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
							stroke="currentColor" class="size-5 text-white">
							<path stroke-linecap="round" stroke-linejoin="round"
								d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
						</svg>
					</button>
				</div>
				<div class="w-full grid lg:grid-cols-4 md:grid-cols-4 grid-cols-1 gap-4">
					<div class="flex flex-col gap-2 shadow hover:shadow-lg border-b border-thin border-yellow-500 border-b-4">
						<img src="https://504power.com/wp-content/uploads/2022/12/bo-chang-lech-504power.png"
							class="h-[220px]" />
						<span class="font-bold text-yellow-500 cursor-pointer text-white p-2 uppercase bg-blue-900 text-center">Chi tiết</span>
					</div>
					<div class="flex flex-col gap-2 shadow hover:shadow-lg border-b border-thin border-yellow-500 border-b-4">
						<img src="https://504power.com/wp-content/uploads/2022/01/Solar-SMA-504-Power.jpg" class="h-[220px]" />
						<span class="font-bold text-yellow-500 cursor-pointer text-white p-2 uppercase bg-blue-900 text-center">Chi tiết</span>
					</div>
					<div class="flex flex-col gap-2 shadow hover:shadow-lg border-b border-thin border-yellow-500 border-b-4">
						<img src="https://504power.com/wp-content/uploads/2022/12/ong-co-nhiet-do-504power.png"
							class="h-[220px]" />
							<span class="font-bold text-yellow-500 cursor-pointer text-white p-2 uppercase bg-blue-900 text-center">Chi tiết</span>
					</div>
					<div class="flex flex-col gap-2 shadow hover:shadow-lg border-b border-thin border-yellow-500 border-b-4">
						<img src="https://504power.com/wp-content/uploads/2022/12/bo-chang-lech-504power.png"
							class="h-[220px]" />
						<span class="font-bold text-yellow-500 cursor-pointer text-white p-2 uppercase bg-blue-900 text-center">Chi tiết</span>
					</div>
					<div class="flex flex-col gap-2 shadow hover:shadow-lg border-b border-thin border-yellow-500 border-b-4">
						<img src="https://504power.com/wp-content/uploads/2022/01/Solar-SMA-504-Power.jpg" class="h-[220px]" />
						<span class="font-bold text-yellow-500 cursor-pointer text-white p-2 uppercase bg-blue-900 text-center">Chi tiết</span>
					</div>
					<div class="flex flex-col gap-2 shadow hover:shadow-lg border-b border-thin border-yellow-500 border-b-4">
						<img src="https://504power.com/wp-content/uploads/2022/12/ong-co-nhiet-do-504power.png"
							class="h-[220px]" />
							<span class="font-bold text-yellow-500 cursor-pointer text-white p-2 uppercase bg-blue-900 text-center">Chi tiết</span>
					</div>
					<div class="flex flex-col gap-2 shadow hover:shadow-lg border-b border-thin border-yellow-500 border-b-4">
						<img src="https://504power.com/wp-content/uploads/2022/12/bo-chang-lech-504power.png"
							class="h-[220px]" />
						<span class="font-bold text-yellow-500 cursor-pointer text-white p-2 uppercase bg-blue-900 text-center">Chi tiết</span>
					</div>
					<div class="flex flex-col gap-2 shadow hover:shadow-lg border-b border-thin border-yellow-500 border-b-4">
						<img src="https://504power.com/wp-content/uploads/2022/01/Solar-SMA-504-Power.jpg" class="h-[220px]" />
						<span class="font-bold text-yellow-500 cursor-pointer text-white p-2 uppercase bg-blue-900 text-center">Chi tiết</span>
					</div>
					<div class="flex flex-col gap-2 shadow hover:shadow-lg border-b border-thin border-yellow-500 border-b-4">
						<img src="https://504power.com/wp-content/uploads/2022/12/ong-co-nhiet-do-504power.png"
							class="h-[220px]" />
							<span class="font-bold text-yellow-500 cursor-pointer text-white p-2 uppercase bg-blue-900 text-center">Chi tiết</span>
					</div>
					<div class="flex flex-col gap-2 shadow hover:shadow-lg border-b border-thin border-yellow-500 border-b-4">
						<img src="https://504power.com/wp-content/uploads/2022/12/bo-chang-lech-504power.png"
							class="h-[220px]" />
						<span class="font-bold text-yellow-500 cursor-pointer text-white p-2 uppercase bg-blue-900 text-center">Chi tiết</span>
					</div>
					<div class="flex flex-col gap-2 shadow hover:shadow-lg border-b border-thin border-yellow-500 border-b-4">
						<img src="https://504power.com/wp-content/uploads/2022/01/Solar-SMA-504-Power.jpg" class="h-[220px]" />
						<span class="font-bold text-yellow-500 cursor-pointer text-white p-2 uppercase bg-blue-900 text-center">Chi tiết</span>
					</div>
					<div class="flex flex-col gap-2 shadow hover:shadow-lg border-b border-thin border-yellow-500 border-b-4">
						<img src="https://504power.com/wp-content/uploads/2022/12/ong-co-nhiet-do-504power.png"
							class="h-[220px]" />
							<span class="font-bold text-yellow-500 cursor-pointer text-white p-2 uppercase bg-blue-900 text-center">Chi tiết</span>
					</div>
					<div class="flex flex-col gap-2 shadow hover:shadow-lg border-b border-thin border-yellow-500 border-b-4">
						<img src="https://504power.com/wp-content/uploads/2022/12/bo-chang-lech-504power.png"
							class="h-[220px]" />
						<span class="font-bold text-yellow-500 cursor-pointer text-white p-2 uppercase bg-blue-900 text-center">Chi tiết</span>
					</div>
					<div class="flex flex-col gap-2 shadow hover:shadow-lg border-b border-thin border-yellow-500 border-b-4">
						<img src="https://504power.com/wp-content/uploads/2022/01/Solar-SMA-504-Power.jpg" class="h-[220px]" />
						<span class="font-bold text-yellow-500 cursor-pointer text-white p-2 uppercase bg-blue-900 text-center">Chi tiết</span>
					</div>
					<div class="flex flex-col gap-2 shadow hover:shadow-lg border-b border-thin border-yellow-500 border-b-4">
						<img src="https://504power.com/wp-content/uploads/2022/12/ong-co-nhiet-do-504power.png"
							class="h-[220px]" />
							<span class="font-bold text-yellow-500 cursor-pointer text-white p-2 uppercase bg-blue-900 text-center">Chi tiết</span>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/pagedone@1.2.2/src/js/pagedone.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</body>

</html>